NOTE: This Code currently work only with Python. I will try to make it into Java, JavaScript,C and C++, etc.

import random

number = random.randint(1,10)
print ("The Randomly Generated Number is...", number)

=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+

If you only want numbers between 1, 2 or 1,5 or 2,7, all you have to do is edit the random.randint row. For example: number = random.randint(1.2) or (2.5), etc.
If you want a random message, when the number gets generated, edit the print row. Example: print ("The Number that you generated is...", number), and the best part, you
can put whatever message you want.

I might add another small code that will let you generate as many numbers as you want. Thank you.
