NOTE: This Code currently work only with Python. I will try to make it into Java, JavaScript,C and C++, etc.

If you are using the code, only copy this:

=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+

import random

number = random.randint(1,10)
print ("The Number you Generated is...", number)

=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+

Multiple Numbers Generator:

import random 

#Generate 10 random numbers between 10 and 30
randomlist = random.sample(range(10, 30), 10)

print("The Numbers you Generated are...", randomlist)

=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+

One number generator help: 
If you only want numbers between 1, 2 or 1,5 or 2,7, all you have to do is edit the random.randint row. For example: number = random.randint(1.2) or (2.5), etc.
If you want a random message, when the number gets generated, edit the print row. Example: print ("The Number that you generated is...", number), and the best part, you
can put whatever message you want.

Multiple numbers generator help:
You can change the value, for example: you can change how many numbers you want, and the range between them. For example: if you generate 5, and the rage between them
is 1 and 10, you need to change the range. Example: randomlist = random.sample(range(1, 10), 5). 1 and 10 being the range between them and 5 how many you want.

You can post any Issues you have in the Issues Tab. Thank you.


If you have any issues with the code I wrote, please go to the Issues Tab, and let me know the problem I have.


